<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

	<link rel='stylesheet' type="text/css" th:href='@{~/adminbacklist/css/bootstrap.min.css}'>
	<link rel='stylesheet' type="text/css" th:href='@{~/adminbacklist/css/all.min.css}'>
	<link rel="stylesheet" type="text/css" th:href="@{~/adminbacklist/css/style.css}">



</head>

<body>

<section th:fragment="list" class="pt-80 pb-70" style="overflow-y: scroll">
	<div class="text-center mb-60 position-relative">
		<h5 style="font-size: 38px" class="font__family-montserrat font__weight-light text-uppercase font__size-21 text-blue brk-library-rendered" data-brk-library="component__title">学生账号管理</h5>

	
		<hr class="divider wow zoomIn brk-library-rendered" data-brk-library="component__title" style="visibility: visible; animation-name: zoomIn;">
	</div>
	<div class="container">
		<div class="panel__wrapper-icon mb-100 brk-library-rendered" data-brk-library="component__panel">
			<div class="panel__head all-light">
				<h4 class="font__family-montserrat font__weight-medium font__size-21"><a class="parceladdcss" th:href="@{'/admin/stuadd/'+${loginAdmin.adid}}">Add Student</a></h4>
				<p class="font__family-open-sans font__size-14" style="float: right">

				</p>
			</div>
			<ul class="panel__list">
<!--				<a th:href="@{'/StuPartCard/'+${loginStudent.stuid}}">-->
				<th:block th:each="stu : ${AllStu}">
				<a th:href="@{'/admin/detailstu/'+${loginAdmin.adid}+'&'+${stu.stuid}}" >
					<li>
						<span class="line"></span>
						<i class="icon fab fa-gg"></i>
						<p style="font-size: x-large">
							<span  th:text="'账号名称：'+${stu.stuname}"></span>

							<span style="float: right" th:text="'邮箱：'+${stu.stuemail}"></span>

							<span style="float: right;margin: 0 200px 0 0 " th:text="'编号：'+${stu.stuid}"></span>

						</p>
						<p style="font-size: larger">
							<a th:href="@{'/admin/deletestu/'+${loginAdmin.adid}+'&'+${stu.stuid}}"  style="margin: auto;color: gray;float: right" th:text="'删除'"></a>
						</p>
					</li>
				</a>
				</th:block>
			</ul>
		</div>

	</div>
</section>



</div>
</body>
</html>